@media (max-width:450px) {
    .nameUser{
        display: none;
    }
}
.formList input,
.inputTarefa,
.tarefas{
    max-width: 600px;
    width: 100%;
    background-color: #344668;
    padding-left: 1rem;
    border-top-left-radius: 20px;
    border:2px solid#ffffff00 ;
    transition: 200ms all;
    border-bottom-left-radius: 20px;
}
.formList input:focus{
    outline: none;
    border:2px solid#93e7b2 ;
}
.formList span{
    position: relative;
    left: 3.5rem;
    top: 10px;
    font-size: 37px;
}
.formList input::placeholder{
    font-size: 23px;
    color: white;
    padding-left: 2rem;
}

.buttonSubmit{
    background-color: #344668;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 4px 20px;
    border-left: 1px solid white;
}

  
  .checkbox input {
    display: none;
  }
  
  .container svg {
    overflow: visible;
  }
  
  .path {
    fill: none;
    stroke: rgb(0, 193, 35);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
  }
  
  .container input:checked ~ svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
  }
  
  .icon{
    max-width: 100px;
    width: 100%;
  }