.modalContainer{
    backdrop-filter: blur(2px);
    overflow:hidden;
    width: 100%;
    min-height:100%;
    color: black;
    position: absolute;
    top: auto;
    bottom: auto;
    cursor: pointer;
    z-index: 100;
}

.inputEdit{
    width: 600px;
}
.card{
    background-color: #071c42;
}
.buttonClosed{
    position: absolute;
    top: 10px;
    left: 2rem;
    border: 2px solid white;
}
@media (max-width:768px) {
    .inputEdit{
        width: 400px;
    }
    .buttonClosed{
        left: 10px;
    }
}
@media (max-width:500px) {
    .inputEdit{
        width: 250px;
    }
}
