.listNav li::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: #1DCC48;
    display: block;
    bottom: -2px;
    transition: 200ms ease-in;
}
.listNav li:hover::after{
    width: 100%;
    transition: 200ms ease-in;
}
@media (max-width:1024px) {
    .listNav li::after{
        bottom: -10px;
    } 
}