.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
  }
.form{
    background-color: #313E58;
    position: relative;
}
form input{
    max-width: 600px;
    width: 600px;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    background-color: #D9D9D9;
}
form input::placeholder{
    font-size: 20px;
    padding-left: 0.5vw;
    font-weight: 700;
}
form i{
    width: 40px;
    position: absolute;
    z-index:10;
    left: 5rem;
}
.err{
    max-width: 600px;
}
@media (max-width:1300px) {
        form input{
            max-width: 350px;
        }
}
@media (max-width:1024px) {
    form input::placeholder{
        font-size:16px ;
    }
    form input{
        padding: 0.1rem 0.8rem;
    }
}

@media (max-width:768px) {
    .err{
        max-width: 400px;
    }
}@media (max-width:640px) {
    form input{
        max-width: 400px;
    }
}
@media (max-width:450px) {
    form input{
        max-width: 250px;
    }
}